@import 'variables.css';

/* Resetting margins and paddings when using vw */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section, nav, article, footer, header {
    padding: 0.5em;
}

header {
    text-align: center;
}

header ul {
    list-style-type: none;
}

footer {
    background-color: var(--main-color);
    color: white;
    position: relative;
    width: 100%;
}

/* footer anchor tags */
footer ul {
    color: var(--link-color);
    text-decoration: none;
}

footer a {
    color: var(--body-bg-color);
    text-decoration: none;
}

footer div span {
    padding: 0.5rem;
}

#white {
    color: var(--body-bg-color);
}

#bottem-space {
    margin-bottom: 0.5rem;
}

/* When hovering over anchor tags */
footer a:hover {
    text-decoration: underline;
}

/* footers unordered list */
footer ul {
    list-style-type: none; /* removes bullets */  
    padding: 0;
}

/* ##################### */
/* Media queries */
/* ##################### */

@media only screen and (min-width: 320px) {
    header {
        background-color: var(--main-color);
    }

    header h1 {
        background-color: var(--main-color);
        color: var(--h1-color);
    }

    header h3 {
        background-color: var(--main-color);
        color: var(--h1-color);
    }

    body {
        background-color: var(--body-bg-color);
    }

    h1 {
        background-color: var(--h1-bg-color);
        color: var(--h1-color);
        padding: 0.5rem;
    }

    .contact-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact-section dl img {
        border-radius: 200px;
    }

    fieldset {
        padding: 0.5rem;
        border-radius: 10px;
    }

    form.form {
        display: table;
    }

    div.form-field {
        display: table-row;
    }

    label,
    input {
    display: table-cell;
    margin-bottom: 10px;
    }

    label {
    padding-right: 10px;
    }
    
    footer {
        width: 100%;
        text-align: center;
    }

    footer ul {
        margin: 0.5rem;
    }

    footer p {
        color: var(--link-color);
    }

    footer div a img {
        border-radius: 100px;
    }

    h1, section, nav {
        width: 100%;
    }
}
