/* Resetting margins and paddings when using vw */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, section, nav, article, footer {
    padding: 0.5em;
}

footer {
    background-color: #262858;
    color: white;
    position: relative;
    width: 100%;
}

/* footer anchor tags */
footer a {
    color: #CD7F32;
    text-decoration: none;
}

/* When hovering over anchor tags */
footer a:hover {
    text-decoration: underline;
}

/* footers unordered list */
footer ul {
    list-style-type: none; /* removes bullets */  
    padding: 0;
}

/* ##################### */
/* Media queries */
/* ##################### */

@media only screen and (min-width: 320px) {
    footer {
        width: 100%;
    }

    h1, section, nav {
        width: 100%;
    }
}
